{{#each this}}
<div class="card">
  <div class="card-img">
    <h2 class="country-name">{{name}}</h2>
  </div>
  <div class="description-country">
    <div>
      <p class="capital-country">Capital: <span class="capital">{{capital}}</span></p>
      <p class="population-country">Population: <span class="population">{{population}}</span></p>
      <p class="lang-country">languages:
      <ul class="list-lang">
        {{#each languages}} <li>{{name}}</li>{{/each}}
      </ul>
      </p>
    </div>
    <img src="{{flag}}" alt="{{name}} width=" 200" height="200"">
  </div>
</div>
{{/each}}